.div-left{
float: left;
border: 20px;
}

.div-right{
float: right;
}

.div-container{
    width: 100%;
}
.bg-img{
    background-image:url('https://hccenergiasolar.com.br/uploads/hccenergiasolar_image_494-1-.jpeg?nf_resize=fit&h=480');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;

}

.container {
    width: 80rem;
    height: 60rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
   
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }