<!-- Container Entrar-->
<div class="container-fluid d-flex justify-content-center">
    <div class="col-md-6">
        <p class="text-center mt-3">Já é nosso cliente? Insira as informações para entrar</p>
        <div class="form-group">
            <div class="mb-3 w-50">
                <label for="usuario" class="form-label">Usuário</label>
                <input [(ngModel)]="userLogin.usuario" type="text" class="form-control" id="usuario" >
            </div>
            <div class="mb-3 w-50">
                <label for="senha" class="form-label">Senha</label>
                <input  [(ngModel)]="userLogin.senha" type="password" class="form-control" id="senha" >
            </div>

            <button (click)="entrar()"  class="btn btn-primary mb-3" >Entre</button>
        </div>
    </div>
    <!-- /Container Entrar-->

    <!-- Container Cadastrar-->
    <div class="container-fluid col-md-6 mb-5 justify-content-center">
        <p class="text-center mt-3">Não possui uma conta? Insira as informações para cadastrar</p>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="nome" class="form-label">Nome</label>
                <input [(ngModel)] = "user.nome" type="text" class="form-control" id="nome">
            </div>
            <div class="col-md-6">
                <label for="sobrenome" class="form-label">Sobrenome</label>
                <input [(ngModel)] = "user.sobrenome" type="text" class="form-control" id="sobrenome">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="usuario2" class="form-label">Usuário</label>
                <input [(ngModel)] = "user.usuario" type="text" class="form-control" id="usuario2">
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input [(ngModel)] = "user.email" type="text" class="form-control" id="email">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="senha2" class="form-label">Senha</label>
                <input (input)="confirmarSenha($event)" type="password" class="form-control" id="senha2">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="csenha" class="form-label">Confirme sua Senha</label>
                <input [(ngModel)] = "user.senha" type="password" class="form-control" id="csenha">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="tipo">Tipo de Usuario</label>
                <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                    <option value="condonime">Condonime</option>
                    <option value="sucateiro">Sucateiro</option>
                    <option value="adm">Administrador</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mt-3" (click)="cadastrar()">Cadastrar</button>
    </div>
    <!-- /Container Cadastrar-->
</div>

