<div class="container">
    <div class="row mb-5 mt-3">
        <div class="col-md-12">
            <h1 class="text-center ">Apagar Residuo</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Voce tem certeza que deseja apagar este residuo? Todos os produtos relacionados à ele serão igualmente apagados.</h4>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12">
            <h5 class="text-center text-info">Residuo: {{lixo.residuo}}</h5>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-danger mr-5" (click)='gambiarra()'>Não</button>
            <button class="btn btn-success" (click)='apagar()'>Sim</button>
        </div>
    </div>
</div>
