<div class="container d-flex mt-4 justify-content-center">
    <div class="col-md-6">
        <form class="">
            <div class="mb-3 w-100">
                <label for="Nome" class="form-label">Nome</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3 w-100">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Nós não compartilhamos seu email</div>
            </div>
            <div class="mb-3 d-flex flex-column w-100">
                <label for="assunto" class="form-label">Assunto</label>
                <textarea id="w3review" name="assunto" rows="4" cols="80">
        </textarea>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Aceitar os termos e condições</label>
            </div>
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="row">
            <img src="../../assets/img/Lixeiras-Reciclaveis.png" alt="">
        </div>
    </div>
</div>
