.bg-verde{
    background-color: #1b532e;
}
.w-100{
    width: 100%;
}

.bg-img{
    background-image:url('../../assets/img/reciclando-respeito.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}
    



