<!-- autor: Paola -->
<div class="container-fluid  d-flex justify-content-center">
    <div class="row d-flex justify-content-center p-30">
        <div class="col-md-12">
            <h1 class="d-flex justify-content-center">Descarte Consciente</h1>
            <div class="col-md-12 mt-5 d-flex justify-content-center">
                <img src="https://i.imgur.com/H8jtpJ4.png" alt="Foto com lixeiras">
            </div>
        </div>

        <!--card-->
        <div class="card-deck">
            <div class="card border-danger mt-5">
                <div class="card-body">
                    <h5 class="card-title text-danger">Plástico</h5>
                    <p class="card-text">
                        São recicláveis: Garrafa Pet,
                        copos, pratos e talheres descartáveis;
                        Brinquedos de plástico;
                        Para-choque de carros;
                        Sacos de plástico;
                        Canos de PVC;
                        Materiais diversos de plástico.
                    </p>
                    <br>
                    <div class="col-md-6 d-flex justify-content-center">
                        <button class="btn btn-danger mr-2" data-toggle="modal" data-target=""
                            routerLink="/plastico">Saiba mais</button>
                    </div>

                </div>
            </div>
            <div class="card border-primary mt-5">
                <div class="card-body">
                    <h5 class="card-title text-primary">Papel</h5>
                    <p class="card-text">São recicláveis: Jornais, revistas, caixas, papelão, papel de fax, formulários
                        de computador, folhas de caderno, cartolinas, cartões, rascunhos escritos, envelopes,
                        fotocópias, folhetos, impressos em geral.</p>

                    <div class="col-md-6 d-flex justify-content-center">
                        <button class="btn btn-primary mr-2" data-toggle="modal" data-target=""
                            routerLink="/papel">Saiba mais</button>
                    </div>
                </div>
            </div>
            <div class="card border-success mt-5">
                <div class="card-body">
                    <h5 class="card-title text-success">Vidro</h5>
                    <p class="card-text">São todos recicláveis: Tampas, potes, frascos, garrafas de bebidas, copos,
                        embalagens. Como separá-los: devem estar limpos e sem resíduos.</p>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-6 d-flex justify-content-center">
                        <button class="btn btn-success mr-2" data-toggle="modal" data-target=""
                            routerLink="/vidro">Saiba mais</button>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mt-5">
                <div class="card-body">
                    <h5 class="card-title text-sencondary">Orgânico</h5>
                    <p class="card-text"> São lixos orgânicos: Alimentos, cascas e restos de comida: carne, vegetais,
                        frutas e ossos;

                        Cascas de ovos e sementes;

                        Folhas, caules e restos de madeira;

                        Dejetos humanos ou de animais.</p>
                    <br>

                    <div class="col-md-6 d-flex justify-content-center">
                        <button class="btn btn-secondary mr-2" data-toggle="modal" data-target=""
                            routerLink="/organico">Saiba mais</button>
                    </div>

                </div>
            </div>
            <div class="card border-warning mt-5">
                <div class="card-body">
                    <h5 class="card-title text-warning">Metal</h5>
                    <p class="card-text">São todos recicláveis: Latas de alumínio (ex. latas de bebidas), latas de aço
                        (ex.
                        latas de óleo, sardinha, molho de tomate), tampas, ferragens, canos, esquadrias e molduras de
                        quadros.</p>
                    <div class="col-md-6 d-flex justify-content-center">
                        <button class="btn btn-warning mr-2" data-toggle="modal" data-target=""
                            routerLink="/metal">Saiba mais</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Texto Rodapé-->
        <div class="col-md-9">
            <h1 class="d-flex justify-content-center p-30 text-danger">Atenção!</h1>
            <div class="fs-20 text-center">
                <p> O descarte de pilhas, bateria, lâmpadas fluorescentes, eletroeletrônicos, pneus, óleo de cozinha,
                    remédios e suas
                    embalagens, agrotóxicos e outros elementos tóxicos necessita de cuidados especiais para evitar danos
                    ao meio ambiente.
                    Por isso esses resíduos têm sistemas de logísticas reversa e seu descarte deve ser feito em pontos
                    de entrega específicos. Informe-se junto ao seu município sobre os pontos de entrega para cada um
                    desses resíduos.
                </p>
            </div>
        </div>
        <hr>
        <h5 class="text-center">Da só uma olhada nesse video explicativo <img src="../../../assets/img/smile.png" width="40px" height="40px"></h5>
        <div class="col-md-12 d-flex justify-content-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wy7i6wAD7Gw?start=7"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>

</div>