.bg-menu {
    background-color: #035AA6;
}

.fs-16{
    font-size: 16pt;
}

a{
    cursor: pointer;
}

.vaivei:hover{
    color: black;
}

#vai{
    border-radius: 50%;
}

<<<<<<< HEAD
.teste{
    background-color: #c2d8b9;
}

.w-50{
    width: 50%;
}
=======

>>>>>>> 21f2b4ff7a8f227ff76b49ec19f380a867bc02e8
