.fs-16{
    font-size: 16pt;
}

.logo{
    max-width: 100%;
    width: 150px;
    height: 40px;
    object-fit: cover;
}

a{
    cursor: pointer;
}

.vaivei:hover{
    color: black;
}

#vai{
    border-radius: 50%;
}

.bg-color{
    background-color: #001d3d;
}

.w-50{
    width: 50%;
}

.br-50{
    border-radius: 50%;
}

.dropdown-menu{
    background-color: #001d3d  ;
}


