.fs-16{
    font-size: 16pt;
}

a{
    cursor: pointer;
}

.vaivei:hover{
    color: black;
}

#vai{
    border-radius: 50%;
}

.teste{
    background-color: #001d3d;
}

.w-50{
    width: 50%;
}

.br-50{
    border-radius: 50%;
}

.dropdown{
    background-image: url('https://i.pinimg.com/564x/ed/7f/36/ed7f3659a5cb689e234f98517e4a1ca8.jpg');
    border-radius: 50%;
    width: 100%;
}

