<!-- autor: Jessica Marques -->

<div class="container-fluid d-flex bg-info p-0 ">
  <div class="col-12 sobre">
    <div class=" text-white p-5 ">

      <div>
        <h1>1 - Cadastre-se</h1>
        <h3>----</h3>
        <p>​Crie sua conta na plataforma para ter acesso ao marketplace de produtos.</p>
      </div>

      <div>
        <h1>2 - Poste seus lixos</h1>
        <h3>------------</h3>
        <p>​exponha o material reciclável que você tem disponível.</p>
      </div>

      <div>
        <h1>3 - Negocie com os interessados</h1>
        <h3>---------</h3>
        <p>​Converse com os catadores interessados em seu lixo e alinhe a data e horário para retirada.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-flex bg-info p-0 ">
  <div class="col-4 sobre">
    <h1>1 - Cadastre-se</h1>
    <h3>----</h3>
    <p>​Crie sua conta na plataforma para ter acesso ao marketplace de produtos.</p>
  </div>

  <div class="col-4 sobre">
    <h1>2 - Poste seus lixos</h1>
    <h3>------------</h3>
    <p>​exponha o material reciclável que você tem disponível.</p>
  </div>

  <div class="col-4 sobre">
    <h1>3 - Negocie com os interessados</h1>
    <h3>---------</h3>
    <p>​Converse com os catadores interessados em seu lixo e alinhe a data e horário para retirada.</p>
  </div>
</div>
