<!-- autor: Jessica Marques -->

<div class="row d-flex text-center mb">
  <h1>Como Funciona</h1>
  <h3>Acompanhe o passo a passo de como navegar na aplicação</h3>
  <div class="col-12 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <img class="img" src="https://i.imgur.com/zsa0bMr.png" class="card-img-top" alt="cadastre-se">
      <div class="card-body">
        <h5 class="card-title">1 - Cadastre-se</h5>
        <p class="card-text">Crie sua conta na plataforma para ter acesso ao marketplace de produtos.</p>
        <a routerLink='/cadastro' class="btn btn-primary">Cadastrar</a>
      </div>
    </div>

    <div class="posicionamento">
      <img src="https://i.imgur.com/3WdUNDh.png" width="30"
      heigh="30" alt="sinal de soma">
    </div>

    <div class="card" style="width: 18rem;">
      <img src="https://i.imgur.com/XbqzzPf.png" class="card-img-top" alt="anuncie seu lixo">
      <div class="card-body">
        <h5 class="card-title">2 - Poste seus lixos</h5>
        <p class="card-text">Exponha o material reciclável que você tem disponível.</p>
      </div>
    </div>

    <div class="posicionamento">
      <img src="https://i.imgur.com/3WdUNDh.png" width="30"
      heigh="30" alt="sinal de soma">
    </div>

    <div class="card" style="width: 18rem;">
      <br>
      <img src="https://i.imgur.com/bjzzUSi.png" class="card-img-top" alt="Negocie com os interessados">
      <div class="card-body">
        <h5 class="card-title">3 - Negocie com os interessados</h5>
        <p class="card-text">​Converse com os catadores interessados em seu lixo e alinhe a data e horário para
          retirada.</p>
      </div>
    </div>

    <div class="posicionamento">
      <img src="https://i.imgur.com/Tu2BUpM.png" width="30"
      heigh="30" alt="sinal de igual">
    </div>

    <div class="card" style="width: 18rem;">
      <br>
      <br>
      <img src="https://i.imgur.com/ewKu2My.jpg" class="card-img-top" alt="Comemoração">
      <div class="card-body">
        <h5 class="card-title">4 - Comemore sua contribuição para ajudar o planeta</h5>
        <p class="card-text">​Parabéns! Você contribuiu para aumentar o percentual de lixo destinado a reciclagem no
          Brasil.</p>
      </div>
    </div>

  </div>
</div>
