<div class="container">
    <div class="row mt-5 mb-5 mr-5 d-flex justify-content-center">
        <div class="col-md-6">
            <h4 class="text-center">
                <p>
                    <a routerLink="/descarte">
                        <img src="../../assets/img/left-arrow.png" width="50px" height="50px" alt="">
                    </a>
                </p>
                Papel
            </h4>
            <br>
            <p class="fs-16 text-center">
                Quando reciclamos o papel ou o compramos reciclado estamos contribuindo para que menos árvores sejam
                cortadas para a produção de papel.
                Reciclar impede o acúmulo de papeis em aterros sanitários, contribuindo para a redução de resíduos
                sólidos, diminuição de impactos negativos no solo e, consequentemente, diminuição da poluição.
                <br>
                Aprenda a separá-los: Devem estar secos, limpos, de preferência não amassados. As caixas de papelão
                devem estar desmontadas por uma questão de otimização do espaço no armazenamento.
                <br>
                Papeis que não são recicláveis: Papel sem gordura, restos de comida, graxa.

            </p>
        </div>

        <div class="col-md-6 ">
            <div class="d-flex justify-content-center">
                <img src="https://i.imgur.com/EIvuLyl.png"
                    alt="aqui">
            </div>
        </div>
        <hr>
        <h5 class="text-center">Da só uma olhada nesse video explicativo <img src="../../../assets/img/smile.png" width="40px" height="40px"></h5>
        <div class="col-md-12 d-flex justify-content-center">
            <iframe width="460" height="215" src="https://www.youtube.com/embed/-Mwi9b8RjBw?start=25"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>
</div>