<!-- autor: Hanely Taniguchi -->
<!-- autor: Jessica Marques -->

<!-- SOBRE -->
<div class="container-fluid d-flex bg-canudo p-0 ">
  <div class="col-12 sobre d-flex justify-content-center">
    <div class=" text-white p-5 d-flex justify-content-center">

      <div>
        <h1>Um pouco sobre a Sucateria</h1>
        <h3>Uma jornada verde</h3>
        <p>
          Sucateria vem de origens humildes, mas nossa imensa vontade de gerar uma mudança positiva contribuiu para o sucesso que somos hoje. Somos uma plataforma de  e-commerce destinada a conectar coletores de materiais recicláveis com os produtores de lixo que desejam fazer o descarte consciente daquilo que produzem. 
        </p>
        <p>
          A ferramenta viabiliza o anúncio de materiais recicláveis para que os catadores interessados possam contatar o anunciante e adquirir o material.
          Nós da Sucateria, temos como princípio facilitar a vida do morador da cidade urbana com o destino correto do seu lixo reciclável e prover uma alternativa rentável aos coletores.
        </p>
        <p>Nós da Sucateria, temos como princípio facilitar a vida do morador da cidade urbana com o destino correto do
          seu lixo reciclável e prover uma alternativa rentável aos coletores.</p>
      </div>
    </div>
  </div>
</div>

<!-- VISÃO / MISSÃO / VALORES -->
<div class="container-fluid bg-missao">
  <div class="d-flex ps-4 pe-4 missao">
    <div class="row mb-5 mt-5">
      <div class="row">
        <div class="col-sm-4">
          <div class="card ">
            <div class="card-body box">
              <img class="rounded mx-auto d-block img-icone" src="https://i.imgur.com/s00Gwjm.png">
              <h1 class="card-title">Missão</h1>
              <hr>
              <p class="card-text">Atuar diretamente na redução da geração de resíduos por meio do incentivo à reciclagem. Dessa forma, contribuindo para o destino correto do lixo e diminuindo o impacto ao meio ambiente.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body box">
              <img class="rounded mx-auto d-block img-icone" src="https://i.imgur.com/pElp436.png">
              <h1 class="card-title">Visão</h1>
              <hr>
              <p class="card-text">Contribuir para que o Brasil cumpra o 12º objetivo de desenvolvimento sustentável estabelecido na Agenda 2030 da ONU que busca assegurar padrões de produção e de consumo sustentáveis.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body box">
              <img class="rounded mx-auto d-block img-icone" src="https://i.imgur.com/QtVax62.png">
              <h1 class="card-title">Valores</h1>
              <hr>
              <ul class="text-start">
                <li>Transparência: para esclarecer os direitos e deveres de ambos;</li>
                <li>Cordialidade: para harmonizar a relação;</li>
                <li>Respeito: para ditar a interação.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
