<!-- autor: Hanely Taniguchi -->

<div class="container-fluid d-flex bg-canudo p-0 ">
    <div class="col-12 sobre">
        <div class=" text-white p-5 ">

            <div>   
                <h1>Um pouco sobre a Sucateria</h1>
                <h3>Uma jornada verde</h3>
                <p>​Sucateria vem de origens humildes mas nossa imensa vontade de gerar uma mudança positiva contribuiu para o sucesso que somos hoje. Nosso atendimento virtual permite que nossos clientes possam comprar sem ter que pegar o carro para sair de casa, nem usar dinheiro em espécie o que se alinha com a nossa ideologia de fidelidade ambiental.</p>
            
            </div>
            
        </div>
    </div>
</div>

<div class="container-fluid bg-missao">
    <div class="d-flex ps-4 pe-4 missao">
        <div class="row mb-5 mt-5">
            <h1>MISSAO VISÃO VALORES</h1>
    
            <p>​​Tudo o que produzimos e fazemos no(a) Sucateria tem o intuito de construir uma vida mais justa para nós e nosso planeta azul. Acreditamos que a mudança só é possível se cada um tiver uma postura ativa na forma como vivemos hoje. Nosso público-alvo são pessoas que desejam transformar seu modo de vida e reduzir sua pegada ecológica de forma integral e real.</p>
        </div>
    </div>
</div>