<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/mezEPln.jpg" alt="Primeiro Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/H8jtpJ4.png" alt="Segundo Slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/hlRGVqY.jpg" alt="Homem no lixão">
    </div>
  </div>
</div>

<div class="container m-3 m-auto">

  <div class="row d-flex">
    <div class="col-12 d-flex justify-content-center">

      <img src="https://i.imgur.com/Om5vpzG.jpg" class="card-img-top img-1" alt="Sobre nós">

      <div class="card-body card-texto1" routerLink='/sobre'>
        <h5 class="card-title">Sobre nós</h5>
        <p class="card-text">Descubra um pouquinho da nossa história</p>
      </div>

      <img src="https://i.imgur.com/lGx6zQ6.jpg" class="card-img-top img-2" alt="Como funciona">

      <div class="card-body card-texto2">
        <h5 class="card-title">Como funciona</h5>
        <p class="card-text">Saiba como funciona nosso site e ajude o planeta</p>
      </div>


    </div>
  </div>

  <div class="row d-flex row2">
    <div class="col-12 d-flex justify-content-center">

      <img src="https://i.imgur.com/0w4W9FO.jpg" class="card-img-top img-3" alt="Seja um parceiro">

      <div class="card-body card-texto3">
        <h5 class="card-title">Seja um parceiro</h5>
        <p class="card-text">Quer contribuir conosco?</p>
      </div>



      <img src="https://i.imgur.com/mj5LChI.jpg" class="card-img-top img-4" alt="Descarte consciente">

      <div class="card-body card-texto4" >
        <h5 class="card-title" >Descarte consciente</h5>
        <p class="card-text">Saiba algumas dicas como e onde descartar</p>
      </div>

    </div>
  </div>
</div>
