<!-- HEADER -->
<div class="container-fluid p-0">
  <div class="row">
    <img class="capa" src="https://i.imgur.com/mezEPln.jpg" alt="">
  </div>  
</div>

<!-- CARD -->
<div class="container m-3 m-auto card-body">


    <div class="row d-flex">
      <div class="col-12 d-flex justify-content-center">

        <img src="https://i.imgur.com/Om5vpzG.jpg" class="card-img-top img-1" alt="Sobre nós">

        <div class="card-body card-texto1" routerLink='/sobre'>
          <h5 class="card-title">Sobre nós</h5>
          <p class="card-text">Descubra um pouquinho da nossa história</p>
        </div>

        <img src="https://i.imgur.com/lGx6zQ6.jpg" class="card-img-top img-2" alt="Como funciona">

        <div class="card-body card-texto2" routerLink='/como-funciona'>
          <h5 class="card-title">Como funciona</h5>
          <p class="card-text">Saiba como funciona nosso site e ajude o planeta</p>
        </div>


      </div>
    </div>

    <div class="row d-flex">
      <div class="col-12 d-flex justify-content-center">

        <img src="https://i.imgur.com/0w4W9FO.jpg" class="card-img-top img-3" alt="Seja um parceiro">

        <div class="card-body card-texto3">
          <h5 class="card-title">Seja um parceiro</h5>
          <p class="card-text">Quer contribuir conosco?</p>
        </div>



        <img src="https://i.imgur.com/mj5LChI.jpg" class="card-img-top img-4" alt="Descarte consciente">

      <div class="card-body card-texto4">
        <h5 class="card-title">Descarte consciente</h5>
        <p class="card-text">Saiba algumas dicas como e onde descartar</p>
      </div>


      </div>
    </div>
</div>


<!-- EQUIPE -->
<div class="container d-flex" style="position: relative; bottom: 100px">
  <!-- 1 -->
  <div class="row w-25 text-center">
    <div class="col">
      <img class="rounded-circle" src="https://i.imgur.com/gbX4A5s.jpg" alt="" width="140" height="140" style="object-fit:contain;">
      <h2>Hanely Taniguchi</h2>
      <p>
        <a class="btn btn-secondary" href="#" role="button" style="background-color: #001d3d;">rede social</a>
      </p>
    </div>
  </div>
  <!-- 2 -->
  <div class="row w-25 text-center">
    <div class="col">
      <img class="rounded-circle" src="https://i.imgur.com/Ew74hFb.png" alt="" width="140" height="140">
      <h2>Leonardo Rosenbaum</h2>
      <p>
        <a class="btn btn-secondary" href="#" role="button">rede social</a>
      </p>
    </div>
  </div>
  <!-- 3 -->
  <div class="row w-25 text-center">
    <div class="col">
      <img class="rounded-circle" src="https://i.imgur.com/oda7xss.png" alt="" width="140" height="140">
      <h2>Jessica Aparecida</h2>
      <p>
        <a class="btn btn-secondary" href="#" role="button">rede social</a>
      </p>
    </div>
  </div>
  <!-- 4 -->
  <div class="row-25 text-center">
    <div class="col">
      <img class="rounded-circle" src="https://i.imgur.com/kOKwuRH.png" alt="" width="140" height="140">
      <h2>Rafael Silva</h2>
      <p>
        <a class="btn btn-secondary" href="#" role="button">rede social</a>
      </p>
    </div>
  </div>
<!-- 5 -->
  <div class="row-25 text-center">
    <div class="col">
      <img class="rounded-circle" src="https://i.imgur.com/u2XF5Ho.png" alt="" width="140" height="140">
      <h2>Paola de Jesus</h2>
      <p>
        <a class="btn btn-secondary" href="#" role="button">rede social</a>
      </p>
    </div>
  </div>
</div>


